<!DOCTYPE html>

<html lang="en">

  <head>
    <title><%= @movie[:title] %></title>
  </head>

  <body>

    <form action="/movies" method="get">
      <label for="query">Search: </label>
      <input type="text" name="query" id="query" />
      <input type="submit" value="Search" />
    </form>

  <h2><%= @movie[:title] %></h2>

      <ul>
        <li>
          <b>Year:</b> <%= @movie[:year] %>
        </li>
        <% if @movie[:synopsis] == "" || @movie[:synopsis] == nil %>
        <% else %>
        <li>
          <b>Synopsis:</b> <%= @movie[:synopsis] %>
        </li>
        <% end %>
        <li>
          <b>Rating:</b> <%= @movie[:rating] %>
        </li>
        <li>
          <b>Genre:</b> <%= @movie[:genre] %>
        </li>
        <li>
          <b>Studio:</b> <%= @movie[:studio] %>
        </li>
      </ul>

    <form action="/movies" method="get">
      <label for="page">Jump to Page: </label>
      <input type="number" name="page" id="page" min="1" max="<%= @max_length %>" />
      <input type="submit" value="Go" />
    </form>

  </body>

</html>
